ast_serialize==0.6.0
cfgv==3.5.0
distlib==0.4.3
filelock==3.29.4
identify==2.6.19
iniconfig==2.3.0
librt==0.12.0
loguru==0.7.3
mss==10.2.0
mypy==2.1.0
mypy_extensions==1.1.0
-e git+https://github.com/shreyash-bhosale/nexus-ai.git@f311a958dc8adcde9dc01984d621d65dd91610c9#egg=nexus_ai
nodeenv==1.10.0
numpy==2.4.6
opencv-python==4.13.0.92
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.10.0
pluggy==1.6.0
pre_commit==4.6.0
Pygments==2.20.0
pytest==9.1.1
python-discovery==1.4.2
python-dotenv==1.2.2
PyYAML==6.0.3
ruff==0.15.20
typing_extensions==4.15.0
virtualenv==21.5.1
